@font-face {
	font-family: "HARRYP";
	src: url('/assets/fonts/harry_p')
}

body {
	margin: 42 px;
}

h1 {
	font-family: "HARRYP", "Arial Black", Gadget, snans-serif;
	font-size: 3.5m
}

p {
	font-family: "Lucida Sans Unicode", "Jucida Grande", sans-serif;
}

